*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@import "assets/img.less";
body {
    font-family: 'EB Garamond', serif;
}
.wrapper {
    max-width: 1495px;
    margin: 0 auto;
    height: 100%;
}
header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    max-width: inherit;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background-color: #fff;
        border-bottom: 1px solid lightgray;
        .dispay_n_ib {
            display: none;
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 5;
            top: 0;
            right: 0;
            background-color: #f5f5f5dc;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
          }
          
          .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
          
          .sidenav a:hover {
            color: #ecd4d4;
          }
          
          .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }
        .list-block {
            width: 50%;
            a {
                color: black;
                &:hover {
                    color: rgb(138, 107, 50);
                    transition: .2s linear;
                }
            }
        }
        .img-block {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 20%;
            svg {
                &:hover {
                    fill: blue!important;
                    transition: .2s linear;
                }
            }
            .inst {
                svg {
                   &:hover {
                    fill: orange!important;
                    transition: .2s linear;
                    } 
                }
                
            }
            .youtube {
                svg {
                    &:hover {
                        fill: red!important;
                        transition: .2s linear;
                    }
                }
            }
            .gmail {
                svg {
                    &:hover {
                        fill: rgb(248, 55, 55)!important;
                        transition: .2s linear;
                    }
                }
            }
            
        }
        .list {
            display: flex;
            justify-content: space-evenly;
            height: 100%;
            li {
                font-size: 20px;
                color: black;
            }
        }
        .active {
            font-weight: 700;
        }
    }
    .img {
        height: 20px;
        width: 20px;
    }
}
main {
    position: relative;
    top: 60px;
    .card-wrapper {
        .card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid lightgray;
            height: 700px;
        .text {
            padding: 20px 50px;
            width: 50%;
            h2 {
                text-align-last: left;
                font-size: 40px;
            }
            p {
                margin-top: 20px;
                font-size: 18px;
                }
                .last {
                    font-size: 16px;
                }
            }
            .btn {
                margin-top: 20px;
                width: 80px;
                height: 40px;
                border: 1px solid gray;
                background-color: #fff;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background-color: rgb(221, 221, 221);
                    transition: all linear .3s;
                }
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .card1 {
            height: 600px;
            .text {
                width: 50%;
            } 
        }
        .card2 {
            height: 420px;
            .text {
                width: 70%;
            }
        }
        .card3 {
            height: 420px;
            .text {
                width: 70%;
            }
            border-bottom: 1px solid lightgray;
    }   }    
    .gallery-wrapper {
        .gallery {
            h2 {
                font-size: 30px;
                font-weight: 500;
                text-align: center;
            } 
        }
        .carousel {
            .carousel-cell {
                padding: 0 10px;
                width: 28%;
                height: 250px;
                counter-increment: carousel-cell;
                .hover-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    color: #f5f5f5;
                    padding: 20px 10px;
                    &:hover {
                        opacity: 1;
                        transition: all linear .4s .2s;
                    }
                    h4 {
                        font-size: 25px;
                        font-weight: 600;
                        margin-bottom: 30px;
                    }
                    p {
                        display: inline-block;
                        margin-bottom: 20px;
                        line-height: 20px;
                    }
                    .button {
                        display: inline-block;
                        height: 40px;
                        width: 75px;
                        border: 2px solid #d8d8d8;
                        border-radius: 3px;
                        padding: 12px;
                        color: #d8d8d8;
                        background-color: rgba(255, 255, 255, 0);
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;
                        &:hover {
                            background-color: rgba(187, 187, 187, 0.7);
                            transition: background .2s linear;
                        }
                    }
                }
            }
            .flickity-page-dots .dot {
                display: none;
            }
            .tent {
                background: url('/img/tent.jpg') 80% 90% no-repeat!important;
                background-size: 200px auto;
            }
            .sky {
                width: 12%;
                background: url('/img/sky.jpg') 60% 80% no-repeat!important;
                background-size: 200px auto;
                z-index: 2;
                animation-name: anumations;
                animation-duration: 4s;
                animation-fill-mode: forwards;
                transition:all ease-in .4s;
                &:hover {
                    width: 28%;
                }
            }
            .threads {
                width: 36%;
                background: url('/img/threads.jpg') 50% no-repeat!important;
                background-size: 200px auto;
            }
            .mountain {
                background: url('/img/mountain.jpg') 50% 80% no-repeat!important;
                background-size: 200px auto;
            }
            .mountain2 {
                background: url('/img/mountain2.jpg') 70% 50% no-repeat!important;
                background-size: 200px auto;
            }
            .sky2 {
                background: url('/img/sky2.jpg') 40% 30% no-repeat!important;
                background-size: 200px auto;
            }
            .tent2 {
                background: url('/img/tent2.jpg') 60% 60% no-repeat!important;
                background-size: 200px auto;
            }
            .natural {
                background: url('/img/natural.jpg') 50% 80% no-repeat!important;
                background-size: 200px auto;
            }
        }
        .flickity-button {
            background-color: rgba(0, 0, 0, 0);
            color: #fff;
        }    

    }
    .features {
        h2 {
            font-size: 30px;
            font-weight: 500;
            text-align: center;
            margin: 50px 0;
        }
        .features-block {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 300px);
            grid-gap: 2px;
            background-color: lightgray;
            width: 90%;
            margin: 0 auto;
            .item {
                background-color: #fff;
                text-align: center;
                display: flex;
                flex-direction: column;
                .img {
                    margin: 50px 0 20px 0;
                    height: 35px;
                    background-size: 35px;
                }
                .text {
                    h5 {
                        font-weight: 600;
                        font-size: 20px;
                        margin-bottom: 30px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .form-block {
        margin: 0 auto 50px;
        width: 70%;
        .row {
            display: flex;
            width: 100%;
            margin-bottom: 10px;
            .item {
                width: 33%;
                input {
                    width: 100%;
                    border: 1px solid lightgray;
                    border-radius: 3px;
                    height: 40px;
                }
            }
            .name, .email {
                margin-right: 10px;
            }
            label {
                margin-left: 20px;
            }
            input[type="radio"] {
                margin-right: 5px;
            }
        }
        .row_col-2 {
            .item {
                width: 100%;
            }
            select {
                width: 100%;
                height: 30px;
                border: 1px solid lightgray;
                border-radius: 3px;
                margin-bottom: 15px;
            }
            textarea {
                width: 100%;
                resize: none;
                border: 1px solid lightgray;
                border-radius: 3px;
                height: 100px;
            }
            p {
                font-weight: 600;
                margin-top: 10px;
            }
        }
        .row_d-flex {
            width: 100%;
            margin: 10px 0 0;
            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            input[type="checkbox"] {
                margin-right: 5px;
            } 
            input[type="submit"] {
                text-transform: uppercase;
                font-weight: 600;
                color: gray;
                border: 1px solid gray;
                border-radius: 3px;
                width: 80px;
                height: 40px;
                background-color: #fff;
            }
        }

    }
    .btn {
        margin-top: 20px;
        width: 80px;
        height: 40px;
        border: 1px solid gray;
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
        span {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            color: gray;
            font-family: 'Roboto', sans-serif;
        }
    }
    label {
        font-weight: 600;
    }
    h2 {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin: 50px 0;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .button:hover {
        background-color: #fff;
        transition: all linear .2s;
    }
}
footer {
    position: relative;
    top: 40px;
    .footer-wrapper {
        margin: 10px 0;
        padding: 50px 0 30px 0;
        border-top: 1px solid lightgray;
    }
    .img {
        border: 2px solid  rgb(105, 105, 105);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-position: 50%;
        background-size: 30px;
        &:hover {
            border: 2px solid blue;
        }
    }
    .instagram-img {
        &:hover {
            border: 2px solid red;
        }
    }
    .youtube-img {
        &:hover {
            border: 2px solid red;
        }
    }
    .gmail-img {
        &:hover {
            border: 2px solid rgb(250, 49, 49);
        }
    }
    .img-block {
        width: 280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .footer-text {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        a {
            font-size: 16px;
            color: rgb(105, 105, 105); 
            text-transform: uppercase;
        }
    }
}


@media (max-width: 850px) {
    header {
        .container {
            .list-block {
                width: 90%;
            }
           .img-block {
            display: none;
            } 
        }  
    }
    main {
        .card-wrapper {
            .card {
                .text {
                    width: 50%;
                    padding: 30px;
                    h2 {
                        font-size: 28px;
                        margin: 0;
                    }
                    p {
                        margin-top: 20px;
                        display: inline-block;
                    }    
                }
                
            }
            .card1 {
                .big-img1 {
                    background: url('/img/fire.jpg') 50% no-repeat;
                    background-size: auto 600px;
                    height: 600px;
                    width: 50%;
                }
            }
            .card2 {
                .big-img2 {
                    width: 50%;
                }

            }
            .card3 {
                .big-img3 {
                    width: 50%;
                }
            }
        }
        .gallery-wrapper {
            .carousel {
                .carousel-cell {
                    width: 50%;
                }
            }
        }
        .cover-content {
            width: 28%!important;
            &:hover {
                display: none!important;
                width: 28%!important;
                transition: none!important;
            }
        }
        .features {
            .features-block {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 200px);
            }
        }
        .form-block {
            width: 90%!important; 
        }

    }
}
@media (max-width: 600px) {
    header {
        * {
            font-size: 14px;
        }
        .container {
            padding: 020px;
            .list-block {
                width: 40%;
                li {
                    display: none;
                }
                .active {
                    display: inline-block;
                }
            }
            .dispay_n_ib {
                display: inline-block;
            }
        }
    }
    main {
        * {
            font-size: 15px!important;
        }
        p {
            line-height: 20px;
        }
        h2 {
            font-size: 20px!important;
            font-weight: 600;
        }
        .card-wrapper {
            .card {
                height: 700px;
                flex-direction: column;
                .big-img {
                    background-position: 40% 40%;
                    width: 100%;
                    order: -1;
                }
                .big-img3 {
                    background-position: 50% 70%;
                    background-size: 700px;
                }
                .text {
                    width: 100%;
                }
            }
        }
        .gallery-wrapper {
            .carousel {
                .carousel-cell {
                    width: 100%;
                }
            }
        }
        .features {
            .features-block {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(1, 200px);
              .item {
                    .img {
                        margin-top: 30px;
                    }
                }  
            }
            
        }
        .form-block {
            margin: 0 auto 80px;
            width: 90%;
            .row {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 10px;
                .item {
                    width: 100%;
                    input {
                        width: 100%;
                        height: 40px;
                        margin-bottom: 20px;
                    }
                }
                .radio {
                    label {
                        margin: 0 10px 0 0;
                    }
                }
                
            }
            select {
                height: 40px!important;
            }
        }
    }
    footer {
        .img {
            background-size: 25px;
            height: 35px;
            width: 35px;
        }
    }
}