* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
.twitter-img {
  background: url('/img/twitter-128.png') no-repeat;
  background-size: 20px;
}
.facebook-img {
  background: url('/img/facebook-128.png') no-repeat;
  background-size: 20px;
}
.instagram-img {
  background: url('/img/instagram-2-128.png') no-repeat;
  background-size: 20px;
}
.youtube-img {
  background: url('/img/youtube-128.png') no-repeat;
  background-size: 20px;
}
.gmail-img {
  background: url('/img/gmail-128.png') no-repeat;
  background-size: 20px;
}
.big-img1 {
  background: url('/img/fire.jpg') no-repeat;
  background-size: auto 600px;
  height: 600px;
  width: 50%;
}
.big-img2 {
  background: url('/img/fire2.jpg') 50% 70% no-repeat;
  background-size: auto 420px;
  height: 420px;
  width: 30%;
}
.big-img3 {
  background: url('/img/lamp.jpg') 100% 10% no-repeat;
  background-size: auto 420px;
  height: 420px;
  width: 30%;
}
.img-plane {
  background: url('/img/airplane-48.png') 50% no-repeat;
}
.img-map {
  background: url('/img/map_marker-48.png') 50% no-repeat;
}
.img-film {
  background: url('/img/movie-48.png') 50% no-repeat;
}
.img-clock {
  background: url('/img/alarm_clock-48.png') 50% no-repeat;
}
.img-face {
  background: url('/img/face-48.png') 50% no-repeat;
}
.img-react {
  background: url('/img/genius-48.png') 50% no-repeat;
}
body {
  font-family: 'EB Garamond', serif;
}
.wrapper {
  max-width: 1495px;
  margin: 0 auto;
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  max-width: inherit;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}
header .container .dispay_n_ib {
  display: none;
}
header .container .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #f5f5f5dc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
header .container .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
header .container .sidenav a:hover {
  color: #ecd4d4;
}
header .container .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
header .container .list-block {
  width: 50%;
}
header .container .list-block a {
  color: black;
}
header .container .list-block a:hover {
  color: #8a6b32;
  transition: 0.2s linear;
}
header .container .img-block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
header .container .img-block svg:hover {
  fill: blue!important;
  transition: 0.2s linear;
}
header .container .img-block .inst svg:hover {
  fill: orange!important;
  transition: 0.2s linear;
}
header .container .img-block .youtube svg:hover {
  fill: red!important;
  transition: 0.2s linear;
}
header .container .img-block .gmail svg:hover {
  fill: #f83737 !important;
  transition: 0.2s linear;
}
header .container .list {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
header .container .list li {
  font-size: 20px;
  color: black;
}
header .container .active {
  font-weight: 700;
}
header .img {
  height: 20px;
  width: 20px;
}
main {
  position: relative;
  top: 60px;
}
main .card-wrapper .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  height: 700px;
}
main .card-wrapper .card .text {
  padding: 20px 50px;
  width: 50%;
}
main .card-wrapper .card .text h2 {
  text-align-last: left;
  font-size: 40px;
}
main .card-wrapper .card .text p {
  margin-top: 20px;
  font-size: 18px;
}
main .card-wrapper .card .text .last {
  font-size: 16px;
}
main .card-wrapper .card .btn {
  margin-top: 20px;
  width: 80px;
  height: 40px;
  border: 1px solid gray;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .card-wrapper .card .btn:hover {
  background-color: #dddddd;
  transition: all linear 0.3s;
}
main .card-wrapper .card1 {
  height: 600px;
}
main .card-wrapper .card1 .text {
  width: 50%;
}
main .card-wrapper .card2 {
  height: 420px;
}
main .card-wrapper .card2 .text {
  width: 70%;
}
main .card-wrapper .card3 {
  height: 420px;
  border-bottom: 1px solid lightgray;
}
main .card-wrapper .card3 .text {
  width: 70%;
}
main .gallery-wrapper .gallery h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
main .gallery-wrapper .carousel .carousel-cell {
  padding: 0 10px;
  width: 28%;
  height: 250px;
  counter-increment: carousel-cell;
}
main .gallery-wrapper .carousel .carousel-cell .hover-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #f5f5f5;
  padding: 20px 10px;
}
main .gallery-wrapper .carousel .carousel-cell .hover-content:hover {
  opacity: 1;
  transition: all linear 0.4s 0.2s;
}
main .gallery-wrapper .carousel .carousel-cell .hover-content h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
main .gallery-wrapper .carousel .carousel-cell .hover-content p {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 20px;
}
main .gallery-wrapper .carousel .carousel-cell .hover-content .button {
  display: inline-block;
  height: 40px;
  width: 75px;
  border: 2px solid #d8d8d8;
  border-radius: 3px;
  padding: 12px;
  color: #d8d8d8;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
main .gallery-wrapper .carousel .carousel-cell .hover-content .button:hover {
  background-color: rgba(187, 187, 187, 0.7);
  transition: background 0.2s linear;
}
main .gallery-wrapper .carousel .flickity-page-dots .dot {
  display: none;
}
main .gallery-wrapper .carousel .tent {
  background: url('/img/tent.jpg') 80% 90% no-repeat !important;
  background-size: 200px auto;
}
main .gallery-wrapper .carousel .sky {
  width: 12%;
  background: url('/img/sky.jpg') 60% 80% no-repeat !important;
  background-size: 200px auto;
  z-index: 2;
  animation-name: anumations;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  transition: all ease-in 0.4s;
}
main .gallery-wrapper .carousel .sky:hover {
  width: 28%;
}
main .gallery-wrapper .carousel .threads {
  width: 36%;
  background: url('/img/threads.jpg') 50% no-repeat !important;
  background-size: 200px auto;
}
main .gallery-wrapper .carousel .mountain {
  background: url('/img/mountain.jpg') 50% 80% no-repeat !important;
  background-size: 200px auto;
}
main .gallery-wrapper .carousel .mountain2 {
  background: url('/img/mountain2.jpg') 70% 50% no-repeat !important;
  background-size: 200px auto;
}
main .gallery-wrapper .carousel .sky2 {
  background: url('/img/sky2.jpg') 40% 30% no-repeat !important;
  background-size: 200px auto;
}
main .gallery-wrapper .carousel .tent2 {
  background: url('/img/tent2.jpg') 60% 60% no-repeat !important;
  background-size: 200px auto;
}
main .gallery-wrapper .carousel .natural {
  background: url('/img/natural.jpg') 50% 80% no-repeat !important;
  background-size: 200px auto;
}
main .gallery-wrapper .flickity-button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}
main .features h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 50px 0;
}
main .features .features-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 2px;
  background-color: lightgray;
  width: 90%;
  margin: 0 auto;
}
main .features .features-block .item {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
main .features .features-block .item .img {
  margin: 50px 0 20px 0;
  height: 35px;
  background-size: 35px;
}
main .features .features-block .item .text h5 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}
main .features .features-block .item .text p {
  font-size: 16px;
}
main .form-block {
  margin: 0 auto 50px;
  width: 70%;
}
main .form-block .row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
main .form-block .row .item {
  width: 33%;
}
main .form-block .row .item input {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 3px;
  height: 40px;
}
main .form-block .row .name,
main .form-block .row .email {
  margin-right: 10px;
}
main .form-block .row label {
  margin-left: 20px;
}
main .form-block .row input[type="radio"] {
  margin-right: 5px;
}
main .form-block .row_col-2 .item {
  width: 100%;
}
main .form-block .row_col-2 select {
  width: 100%;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-bottom: 15px;
}
main .form-block .row_col-2 textarea {
  width: 100%;
  resize: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  height: 100px;
}
main .form-block .row_col-2 p {
  font-weight: 600;
  margin-top: 10px;
}
main .form-block .row_d-flex {
  width: 100%;
  margin: 10px 0 0;
}
main .form-block .row_d-flex .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .form-block .row_d-flex input[type="checkbox"] {
  margin-right: 5px;
}
main .form-block .row_d-flex input[type="submit"] {
  text-transform: uppercase;
  font-weight: 600;
  color: gray;
  border: 1px solid gray;
  border-radius: 3px;
  width: 80px;
  height: 40px;
  background-color: #fff;
}
main .btn {
  margin-top: 20px;
  width: 80px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .btn span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  font-family: 'Roboto', sans-serif;
}
main label {
  font-weight: 600;
}
main h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 50px 0;
}
main p {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
main .button:hover {
  background-color: #fff;
  transition: all linear 0.2s;
}
footer {
  position: relative;
  top: 40px;
}
footer .footer-wrapper {
  margin: 10px 0;
  padding: 50px 0 30px 0;
  border-top: 1px solid lightgray;
}
footer .img {
  border: 2px solid #696969;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-size: 30px;
}
footer .img:hover {
  border: 2px solid blue;
}
footer .instagram-img:hover {
  border: 2px solid red;
}
footer .youtube-img:hover {
  border: 2px solid red;
}
footer .gmail-img:hover {
  border: 2px solid #fa3131;
}
footer .img-block {
  width: 280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .footer-text {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
footer .footer-text a {
  font-size: 16px;
  color: #696969;
  text-transform: uppercase;
}
@media (max-width: 850px) {
  header .container .list-block {
    width: 90%;
  }
  header .container .img-block {
    display: none;
  }
  main .card-wrapper .card .text {
    width: 50%;
    padding: 30px;
  }
  main .card-wrapper .card .text h2 {
    font-size: 28px;
    margin: 0;
  }
  main .card-wrapper .card .text p {
    margin-top: 20px;
    display: inline-block;
  }
  main .card-wrapper .card1 .big-img1 {
    background: url('/img/fire.jpg') 50% no-repeat;
    background-size: auto 600px;
    height: 600px;
    width: 50%;
  }
  main .card-wrapper .card2 .big-img2 {
    width: 50%;
  }
  main .card-wrapper .card3 .big-img3 {
    width: 50%;
  }
  main .gallery-wrapper .carousel .carousel-cell {
    width: 50%;
  }
  main .cover-content {
    width: 28%!important;
  }
  main .cover-content:hover {
    display: none!important;
    width: 28%!important;
    transition: none!important;
  }
  main .features .features-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
  main .form-block {
    width: 90%!important;
  }
}
@media (max-width: 600px) {
  header * {
    font-size: 14px;
  }
  header .container {
    padding: 020px;
  }
  header .container .list-block {
    width: 40%;
  }
  header .container .list-block li {
    display: none;
  }
  header .container .list-block .active {
    display: inline-block;
  }
  header .container .dispay_n_ib {
    display: inline-block;
  }
  main * {
    font-size: 15px!important;
  }
  main p {
    line-height: 20px;
  }
  main h2 {
    font-size: 20px!important;
    font-weight: 600;
  }
  main .card-wrapper .card {
    height: 700px;
    flex-direction: column;
  }
  main .card-wrapper .card .big-img {
    background-position: 40% 40%;
    width: 100%;
    order: -1;
  }
  main .card-wrapper .card .big-img3 {
    background-position: 50% 70%;
    background-size: 700px;
  }
  main .card-wrapper .card .text {
    width: 100%;
  }
  main .gallery-wrapper .carousel .carousel-cell {
    width: 100%;
  }
  main .features .features-block {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 200px);
  }
  main .features .features-block .item .img {
    margin-top: 30px;
  }
  main .form-block {
    margin: 0 auto 80px;
    width: 90%;
  }
  main .form-block .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  main .form-block .row .item {
    width: 100%;
  }
  main .form-block .row .item input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }
  main .form-block .row .radio label {
    margin: 0 10px 0 0;
  }
  main .form-block select {
    height: 40px!important;
  }
  footer .img {
    background-size: 25px;
    height: 35px;
    width: 35px;
  }
}
