.twitter-img {
    background: url('/img/twitter-128.png') no-repeat;
    background-size: 20px;
}
.facebook-img {
    background: url('/img/facebook-128.png') no-repeat;
    background-size: 20px;
}
.instagram-img {
    background: url('/img/instagram-2-128.png') no-repeat;
    background-size: 20px;
}
.youtube-img {
    background: url('/img/youtube-128.png') no-repeat;
    background-size: 20px;
}
.gmail-img {
    background: url('/img/gmail-128.png') no-repeat;
    background-size: 20px;
}

.big-img1 {
    background: url('/img/fire.jpg') no-repeat;
    background-size: auto 600px;
    height: 600px;
    width: 50%;
}
.big-img2 {
    background: url('/img/fire2.jpg') 50% 70% no-repeat;
    background-size: auto 420px;
    height: 420px;
    width: 30%;
}
.big-img3 {
    background: url('/img/lamp.jpg') 100% 10% no-repeat;
    background-size: auto 420px;
    height: 420px;
    width: 30%;
}

.img-plane {
    background: url('/img/airplane-48.png') 50% no-repeat;
}
.img-map {
    background: url('/img/map_marker-48.png') 50% no-repeat;
}
.img-film {
    background: url('/img/movie-48.png') 50% no-repeat;
}
.img-clock {
    background: url('/img/alarm_clock-48.png') 50% no-repeat;
}
.img-face {
    background: url('/img/face-48.png') 50% no-repeat;
}
.img-react {
    background: url('/img/genius-48.png') 50% no-repeat;
}
